@use '../base/variables' as *;

header {
  width: 100%;
  height: 100vh;
  position: relative;
  .dot-pattern-2 {
    position: absolute;
    z-index: 111;
    right: 0;
    bottom: 0;
  }
  .container {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    right: -100px;
    .left-header-side {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $text-color;
      font-family: $ff-primary;
      .content {
        // height: 467px;
        // width: 300px;
      }
    }
    .right-header-side {
      width: 50%;
      height: 100%;
      position: relative;
      img {
        height: auto;
      }
    }
  }
}

.heading {
  font-size: 96px;
  font-weight: 500;
  line-height: 1;
  font-family: $ff-secondary;
  margin: 25px 0;
  color: $text-color;
}
.paragraph {
  font-size: 18px;
  color: $text-color;
  font-family: $ff-primary;
  width: 514px;
}
.sub-heading {
  font-size: 16px;
  font-weight: 500;
  font-family: $ff-primary;
  color: $text-color;
  margin-left: 15px;
}
