@use '../base/variables'as *;

.nav {
  // background-color: $primary-color;
  width: 90px;
  // height: 100%;
  position: relative;
  .menu-btn {
    transform: rotate(270deg);
    position: fixed;
    top: 500px;
    span {
      display: inline-block;
      font-size: 14px;
      color: $text-color;
      opacity: 0.6;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .progress-bar {
    position: fixed;
    top: 250px;
    left: 25px;
    width: 2px;
    height: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .progress-bar--increment {
    background-color: #576d9b;
    position: fixed;
    top: 250px;
    left: 25px;
    width: 2px;
    height: 0;
    border-radius: 5px;
  }

  .progress-bar-dots {
    position: fixed;
    left: 16px;
    top: 50px;

    .progress-bar--circle {
      position: absolute;
      top: 194px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.1s;
    }
    .section-1-dot {
      top: 300px;
    }
    .section-2-dot {
      top: 400px;
    }
  }

  .progress-bar--circle.active {
    background-color: #576d9b;
  }
  .active {
    color: #e74c5b !important;
  }
}

#navigationWrap {
  display: none;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 1111;
  background: $primary-color;
  position: fixed;
  top: 0;
  left: 100%;
  padding: 50px 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;

    .left-nav-side {
      .nav-item {
        width: 390px;
        text-align: right;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }

        h2 {
          font-size: 18px;
          font-family: $ff-primary;
          color: $text-color;
        }

        p {
          font-size: 16px;
          font-family: $ff-primary;
        }
      }

      .mb-3 {
        margin-bottom: 3rem;
      }

      .mt-3 {
        margin-top: 3rem;
      }
    }

    .right-nav-side {
      padding-bottom: 3rem;

      .nav-item {
        width: 390px;
        text-align: left;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }

        h2 {
          font-size: 18px;
          font-family: $ff-primary;
          color: $text-color;
        }

        p {
          font-size: 16px;
          font-family: $ff-primary;
        }
      }

      .mb-3 {
        margin-bottom: 3rem;
      }

      .mt-3 {
        margin-top: 3rem;
      }
    }
  }
}

.close {
  display: none;
  opacity: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;

  i {
    font-size: 5vh;
    color: $text-color;
  }
}

@media (max-width: 768px) {
  .nav {
    width: 100%;
    height: 60px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    background-color: #000d25;
    position: fixed;
    z-index: 150;
    .menu-btn {
      transform: none;
      position: fixed;
      top: 15px;
    }
    .progress-bar {
      position: fixed;
      top: 30px;
      left: 86px;
      width: 200px;
      height: 2px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .progress-bar--increment {
      background-color: #576d9b;
      position: fixed;
      top: 30px;
      left: 86px;
      width: 0;
      height: 2px;
      border-radius: 5px;
    }

    .progress-bar-dots {
      position: fixed;
      left: 86px;
      top: 30px;

      .progress-bar--circle {
        top: -3px;
        left: 0px;
      }
      .section-1-dot {
        top: -3px;
        left: 100px;
      }
      .section-2-dot {
        top: -3px;
        left: 200px;
      }
    }
  }
  #navigationWrap {
    .container {
      width: 85%;
      flex-direction: column;
      .left-nav-side {
        .nav-item {
          text-align: left;
          width: 100%;
        }
        .mb-3 {
          margin-bottom: 1rem;
        }
        .mt-3 {
          margin-top: 1rem;
        }
      }
      .right-nav-side {
        .nav-item {
          text-align: left;
          width: 100%;
        }
        .mb-3 {
          margin-bottom: 1rem;
        }
        .mt-3 {
          margin-top: 1rem;
        }
      }
    }
  }
}
