@use '../base/variables' as *;

section {
  width: 100%;
  height: 125vh;
  position: relative;
  // overflow-x: hidden;
  color: $text-color;
  .container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
    .right-side {
      margin-left: 4rem;
      position: relative;
      @media (max-width: 768px) {
        margin-left: 0;
      }
      .index-number {
        font-size: 35vh;
        opacity: 0.3;
        font-family: $ff-secondary;
        position: absolute;
        top: -125px;
        left: -45px;
        margin: 0;
      }
      .parallex-img-2 {
        position: absolute;
        right: 275px;
        z-index: 112;
        bottom: -275px;
      }
    }
    .left-side {
      margin-left: 4rem;
      position: relative;
      .dot-pattern-3 {
        position: absolute;
        z-index: 111;
        position: absolute;
        z-index: 111;
        right: -106px;
        bottom: -150px;
      }
      .parallex-img-1 {
        position: absolute;
        right: -200px;
        z-index: 112;
        bottom: -300px;
      }
      .heading {
        font-size: 65px;
      }
      .index-number {
        font-size: 35vh;
        opacity: 0.3;
        font-family: $ff-secondary;
        position: absolute;
        top: -150px;
        left: -45px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    .container {
      width: 100%;
      flex-direction: column-reverse;
      .left-side {
        margin-left: 0;
        margin-top: 3rem;
        .index-number {
          left: -25px;
          font-size: 25vh;
        }
        .heading{
          font-size: 36px;
        }
        img {
          width: 95%;
        }
        .parallex-img-1 {
          right: 0;
          bottom: -250px;
        }
        .dot-pattern-3 {
          width: auto;
          display: none;
        }
      }
      .right-side {
        .index-number {
          left: -25px;
          font-size: 25vh;
        }
      }
    }
  }
  #section-2{
    .container{
      flex-direction: column;
      .right-side{
        margin-top: 3rem;
        img{
          width: 95%;
          margin-left: 5%;
        }
        .parallex-img-2{
          right: 0;
          left: 0;
          margin-left: 0;
        }
      }
    }
  }
}
